<h1>Search Engine for Spotify</h1>

<form action='/artist-search-result.hbs'>
  <label for='input-search-term'>Search for any music</label>
  <input
    id='input-search-term'
    type='text'
    name='term'
    placeholder='Search for any music...'
  />
  <button>Search</button>

</form>