<body>

  <h1>Search Engine for Spotify</h1>

  <form action='/artist-search-results' method='GET'>
    <label for='input-search-term'>Search for any music</label>
    <input
      type='text'
      name='keyword'
      class='search'
      placeholder='Search here!'
    />

    <input type='submit' name='submit' class='submit' value='Search' />

  </form>

</body>